body {
  margin: 30px 70px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
    text-align: center;
    color: #fefefe;
    background: #2199e8;
    border: 2px solid #2199e8;
    padding: 5px 30px 5px 30px;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }


 .flex-grid{
  flex: 0 1 calc(13% - 10px);
  height: 200px;
  border: 1px solid black;
  margin-right: 20px;
  margin-top: 20px;
 }
  
 .flex-grid-container{
  margin-top:40px;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
 }
 .inner-content{
   margin-left: 25px;
 }
 h2, h1 {
  display: inline-block;
  margin: 0;
}

.button-right{
  float: right;
}